* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-image: url("../glass-filter/image/1154430.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  background: #614343;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #07070f;
}

nav a:hover {
  background-color: #14083f;
  color: #fff;
}

nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  backdrop-filter: blur(10px);
  background-color: rgba(25, 7, 73, 0.2);
  box-shadow: -10px 0px 10px rgba(211, 190, 190, 0.1);


  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}


@media(max-width:800px) {

  .hideOnMobile {
    display: none;
  }
}

@media(max-width:400px) {
  .sidebar {
    width: 100%;
  }
}